<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.itsligo.gaaappmain">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GAA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Workout.workoutMain"></activity>
        <activity android:name=".Lotto.SetLottoDate" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity" /> <!-- <uses-library -->
        <!-- android:name="com.google.android.wearable" -->
        <!-- android:required="true" /> -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.wearable.standalone" -->
        <!-- android:value="true" /> -->
        <activity
            android:name=".Games.HomeGamesStats"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Settings.EditAdminProfile" />
        <activity
            android:name=".Settings.Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.workout1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.workout2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.workout3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.rest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.rest2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Workout.rest3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:parentActivityName=".Login" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>